.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  .add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .add-task input[type="text"],
  .add-task input[type="date"],
  .add-task input[type="file"],
  .add-task button {
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .add-task button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-task button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .completed span {
    text-decoration: line-through;
    color: #999;
  }
  
  li img {
    max-width: 200px; /* Adjust the maximum width as needed */
    max-height: 150px; /* Adjust the maximum height as needed */
    margin-top: 10px;
  }
  
  button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #dc3545;
  }
  
  @media only screen and (max-width: 600px) {
    .add-task {
      flex-direction: column;
    }
  }